@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(82,13,91);
}

header {
    background-color: rgb(67, 11, 75);
    width: 1500px;
    height: 67px;
}

header li {
    margin: 10px;
    left: 550px;
}

#logo {
    padding-left: 70px;
}